body {
    padding: 0;
}

article {
    padding: 0;
}

.container {
    padding: 0;
}

.jumbotron {
    background-color: #fdff92;
    font-family: 'Indie Flower', cursive;
    padding-top: 6px;
    padding-bottom: 6px;
}

.jumbotron h1 {
    font-size: 90px;
    margin-bottom: 0px;
}

.marketing {
    margin: 10px 0;
}

.project {
    cursor: pointer;
}

.project-title {
    font-family: 'Scope One', serif;
    font-size: 26px;
}

.project-desc {
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
}

.sub-header {
    font-family: 'Scope One', serif;
    font-size: 35px;
    margin-bottom: 5px;
}

.sub-header-2 {
    font-family: 'Coming Soon', cursive;
    font-size: 22px;
    margin-bottom: 10px;
}