.modal-header-title {
    font-family: 'Scope One', serif;
    font-size: 22px;
    font-weight: bold;

}

.modal-body-title {
    font-family: 'Scope One', serif;
    font-size: 18px;
    font-weight: bold;
}

.modal-body-desc {
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
}